*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background: linear-gradient(to top, black,  rgb(36, 15, 1), black);
}
nav{
   
    
}
nav .nav-logo{
    margin-left: 150px;
}
nav .nav-item{
   font-size: 16px;
   margin-left: 88px;
   color: #FFF;
}
nav .nav-item .nav-link{
    color: #FFF;
}
nav .nav-button button{
    font-size: 14px;
    color: #FFF;
    background-color: #FA9021;
    border-radius: 6px;
    border: none;
    padding: 12px 28px;
    margin-left: 64px;
    margin-right: 150px;
}
nav .nav-button button a{
    text-decoration: none;
    color: white;
}
nav .nav-button button:hover{
    background-color: #FFF;
    color: #111;
    transition: all ease-in 0.5s;
}
nav .nav-button button a:hover{
    color: #111;
}
nav .nav-item{
    position: relative;
}
nav .nav-item .nav-link::after{
    content: '';
    height: 2px;
    width: 0px;
    background-color:#FA9021;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translatex(-50%);
    transition: .5s ease;
}
nav .nav-item .nav-link:hover::after{
    width: 50px;
}




.search-conteiner{
    width: 400px;
}



.blog a{
    text-decoration: none;
}
.blog .horizontal-line{
    border: 1px solid #A5A5A5;
}



.cta-section .background{
    background-color:#1C140F ;
}







footer ul li{
    list-style: none;
}
footer ul li a{
    text-decoration: none;
    color: white;
}
footer .icon-wrapper i{
    font-size: 30px;
    margin-top: 180px;
}
footer hr{
    border: 1px solid #fff;    
}












<div class=" search-conteiner d-flex gap-4 justify-content-center rounded " style="background-color: #1C140F; " style="width: 400px; " >
<svg  width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M14.9084 14.0247L10.5511 9.66728C11.3775 8.64696 11.875 7.34981 11.875 5.93752C11.875 2.66359 9.21142 0 5.93749 0C2.66356 0 0 2.66359 0 5.93752C0 9.21145 2.66359 11.875 5.93752 11.875C7.34981 11.875 8.64696 11.3775 9.66729 10.5511L14.0247 14.9085C14.1468 15.0305 14.3446 15.0305 14.4667 14.9085L14.9085 14.4666C15.0305 14.3446 15.0305 14.1467 14.9084 14.0247ZM5.93752 10.625C3.35268 10.625 1.25001 8.52236 1.25001 5.93752C1.25001 3.35268 3.35268 1.25001 5.93752 1.25001C8.52236 1.25001 10.625 3.35268 10.625 5.93752C10.625 8.52236 8.52236 10.625 5.93752 10.625Z" fill="white"/>
    </svg>
<input class="border-0 focus-ring-danger " style="background-color: #1C140F;"  type="search" placeholder="search">    
</div> 
